/ultimoPrestamo.jasper
/prestamos.jasper
/grafico_numPrestamos.jasper
/informe3.jasper
/grafico_alumnos_con_prestamos.jasper
/grafico_num_prestamos.jasper
/grafico_numPrestamosAlumnos.jasper
/grafico_numPrestamosLibros.jasper
/informe4.jasper
/grafico_fechas.jasper
/informe2.jasper
